<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1> Welcome to {{ title }}! </h1>
</div>

<div *ngFor="let rm of roomMessages" (click)="onSelect(rm[0])">
    <h3>Messages in {{rm[0]}} </h3>
    <div *ngFor="let m of rm; let i = index">
        <span *ngIf="i>0"> {{m}} </span>
    </div>
</div>


<h2>Join or Create New Room</h2>

<div>
    <input [(ngModel)]="selectedRoom" placeholder="room ">
    <button (click)="joinInRoom() "> Join Room {{selectedRoom}}</button>
</div>

<div> {{firstRoomMessage}}</div>

<h3>Chating at the selected room </h3>

<input [(ngModel)]="roomMessage " />
<button (click)="sendRoomMessage() ">Send</button>