<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1> Welcome to {{ title }}! </h1>
</div>


<h2>Rooms</h2>
<ul>
    <li *ngFor="let room of rooms" (click)="onSelect(room)">
        <span>{{room}}</span>
    </li>
</ul>

<h2>Create New Room</h2>

<div>
    <input [(ngModel)]="selectedRoom" placeholder="room">
    <button (click)="joinInRoom()"> Join Room {{selectedRoom}}</button>
</div>

<div> {{firstRoomMessage}}</div>

<h3>Chating at the selected room </h3>

<div *ngFor="let m of roomMessages"> {{m}} </div>

<input [(ngModel)]="roomMessage" />
<button (click)="sendRoomMessage()">Send in Room</button>